{% extends '@layouts/main.html.twig' %}
{% block content %}
    <header class="page-header" style="background-image: url({{ images('team.jpg') }})">
        <div class="page-header-inner">
            <div class="container">
                <div class="page-header-content text-center">
                    <h2>Contact Us</h2>
                </div>
            </div>
        </div>
    </header>
    <section class="section-negative">
        <div class="container">
            <div class="page-content mt-60">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="title-default mb-10">Get in touch</h2>
                        <p class="page-description mb-70">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Maiores atque, officia molestias, vel nulla consectetur asperiores fugit quas voluptate
                            eaque amet quasi id ipsum cupiditate, illo placeat distinctio optio aliquam.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form action="{{ path_for('contact') }}" method="POST" id="form-contact"
                              class="form-contact form-validate">
                            <fieldset>
                                <div class="mb-20">
                                    <label class="label-control" for="name">Name* :</label>
                                    <input class="form-control" id="name" name="name" required type="text"/>
                                </div>
                                <div class="mb-20">
                                    <label class="label-control" for="email">Email* :</label>
                                    <input class="form-control" id="email" name="email" required type="email"/>
                                </div>
                                <div class="mb-20">
                                    <label class="label-control" for="subject">Subject* :</label>
                                    <input class="form-control" id="subject" name="subject" required type="text"/>
                                </div>
                                <div class="mb-20">
                                    <label class="label-control" for="message">Message* :</label>
                                    <textarea class="form-control" id="message" name="message" required
                                              rows="6"></textarea>
                                </div>
                                <div class="mb-20 text-right">
                                    <input class="btn btn-success btn-lg" type="submit" value="Submit"/>
                                </div>
                                <div class="form-callback success">
                                    <p>Success! Thank you for contact us.</p>
                                </div>
                                <div class="form-callback error">
                                    <p>Error! Something went wrong.</p>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="map" id="map">
        <iframe allowfullscreen
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6508936.152256409!2d-123.7672035544811!3d37.195681156014146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb9fe5f285e3d%3A0x8b5109a227086f55!2sCalifornia%2C+USA!5e0!3m2!1spt-BR!2sbr!4v1459617847784"
                style="border:0"></iframe>
    </div>
{% endblock %}
