{% extends '@layouts/main.html.twig' %}

{% block content %}
    <header class="page-header" style="background-image: url({{ images('console.jpg') }})">
        <div class="page-header-inner">
            <div class="container">
                <div class="page-header-content text-center">
                    <h2>{{ constant('APP_NAME') }}</h2>
                    <p>PodCasts - ScreenCasts - Coding Challenge</p>
                </div>
            </div>
        </div>
    </header>
    <main class="main" id="main">
        {% if podcasts %}
            <section class="section-positive transition" id="#episodes">
                <div class="container">
                    {% for index, p in podcasts %}
                        {% include "@frontend/_components/podcast.html.twig" %}
                    {% endfor %}
                    {% if podcasts %}
                        <div class="col-sm-12 mb-50">
                            <a href="{{ path_for('podcasts.index') }}" class="btn btn-primary btn-block btn-lg">
                                View more episodes
                            </a>
                        </div>
                    {% endif %}
                </div>
            </section>
        {% endif %}
        {% include '@frontend/_includes/about.html.twig' %}
        {% include '@frontend/_includes/newsletter.html.twig' %}
        {% include '@frontend/_includes/quote.html.twig' %}
    </main>
{% endblock %}
