// should be the 2nd importation

@import "./variables";

.transition {
  transition: all 0.3s linear !important;
}

.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}

.clear {
  *zoom: 1;

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}


.clearfix {
  *zoom: 1;
  
  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.clear {
	clear: both;
  *zoom: 1;
  
  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}


$i : 10;
@while $i <= 120 {
  .mt-#{$i} {
    margin-top: #{$i}px !important;
  }

  $i : $i + 10;
}


$i : 10;
@while $i <= 120 {
  .mb-#{$i} {
    margin-bottom: #{$i}px !important;
  }

  $i : $i + 10;
}
