// should be the 3rd importation

@import "./variables";

// Bootstrap size override
.btn,
.btn-lg,
.btnl-sm,
.btn-xs {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #fff;
	text-transform: uppercase;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
	font-weight: 700;
}

.btn-lg {
	padding: 11.5px 16px;
	font-size: 14px;
	font-size: 1.4rem;
}

.label {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #fff;
}


// Bootstrap Custom
.btn-round {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

// Bootstrap Color Override
.btn {
  &-default {
    color: #110f16;
    background: #ecf0f1;
    border: #ecf0f1;
    
    &:hover, &:focus {
      background: #dde4e6;
      border: #dde4e6;
    }
  }
  
  &-info {
    background: #3498db;
    border: #3498db;
    
    &:hover, &:focus {
      background: #258cd1;
      border: #258cd1;
    }
  }
  
  &-danger {
    background: #e74c3c;
    border: #e74c3c;
    
    &:hover, &:focus {
      background: #e43725;
      border: #e43725;
    }
  }
  
  &-warning {
    background: #f39c12;
    border: #f39c12;
    
    &:hover, &:focus {
      background: #e08e0b;
      border: #e08e0b;
    }
  }
  
  &-success {
    background: #2ecc71;
    border: #2ecc71;
    
    &:hover, &:focus {
      background: #29b765;
      border: #29b765;
    }
  }
  
  &-primary {
    background: #18151f;
    border: #18151f;
    
    &:hover, &:focus, &.active {
      background: #050507 !important;
      border: #050507;
    }
  }
}

.label {
  &-default {
    color: #110f16;
    background: #ecf0f1;
    border: #ecf0f1;
  }
  
  &-info {
    background: #3498db;
    border: #3498db;
  }
  
  &-danger {
    background: #e74c3c;
    border: #e74c3c;
  }
  
  &-warning {
    background: #f39c12;
    border: #f39c12;
  }
  
  &-success {
    background: #2ecc71;
    border: #2ecc71;
  }
  
  &-primary {
    background: #18151f;
    border: #18151f;
  }
}
