$font-family: 'Poppins', sans-serif;
$font-size: 14px;
$transition: .5s;
$main-color: #04c37f;
$white-color: #ffffff;
$black-color: #000000;
$black-color-two: #212529;
$paragraph-color: #dfdfdf;
$paragraph-color-two: #808080;
