/vendor/
composer.lock
/.idea/
node_modules/
/docs/__cache__/*
yarn.lock
package-lock.json
*.lock
error_log
public/error_log
*.log
.vscode/
/docs/
/data/apikeys.json
.env
push.sh
prod.sh
data/cache/
public/uploads/
