/*!
 * This file is part of DevsCast.
 * (c) Bernard Ng <ngandubernard@gmail.com>
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with the source code.
 */

// Should be the 7th importation

@import "../base/variables";

.breadcrumb {
  padding: 0;
  background: none;

  &>li+li::before {
    content: "// ";
  }

  & a {
    color: #f1f1f1;

    &:hover, &:focus {
      color: #fff;
    }
  }
}
