/*!
 * This file is part of DevsCast.
 * (c) Bernard Ng <ngandubernard@gmail.com>
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with the source code.
 */

// Should be the 16th importation

@import "../base/variables";

.modal {
  &-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  &-header {
    background: #f1f1f1;

    & .close {
      margin-top: 4px;
    }
  }

  &-body {
    color: #444;
  }
}
