@import "base/variables";

@media screen and (min-width: 768px) {
  .podcast-card.boxed .podcast-title {
    height: 50px;
  }

  .page-pagination a {
    display: table-cell;
    vertical-align: middle;
  }

  .page-pagination a.page-pagination-next {
    border-left: 1px solid #dadada;
  }
}

@media screen and (min-width: 992px) {
  .header.absolute {
    position: absolute;
    top: 0;
    left: 0;
    background: none;
  }

  .menu {
    display: block !important;
  }

  .menu .menuitem.active > a:before {
    width: 100%;
  }

  .menu .menuitem.dropdown:hover > a:before,
  .menu .menuitem.dropdown:focus > a:before {
    width: 100%;
  }

  .menu .menuitem.dropdown:hover .droplist,
  .menu .menuitem.dropdown:focus .droplist {
    visibility: visible;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  .menu .menuitem > a:hover,
  .menu .menuitem > a:focus {
    color: #2ecc71;
    text-decoration: none;
  }

  .menu .menuitem > a:hover:before,
  .menu .menuitem > a:focus:before {
    width: 100%;
  }

  .menu .menuitem > a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #2ecc71;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  .menu .menuitem .droplist {
    position: absolute;
    top: 100%;
    left: 0;
    width: 180px;
    visibility: hidden;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    transform: translateX(-15px);
    display: block !important;
  }

  .btn-hamburguer-menu {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .header.sticky + * {
    margin-top: 70px;
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #110f16;
    display: none;
  }

  .menu .menuitem {
    width: 100%;
  }

  .menu .menuitem.active > a {
    color: #2ecc71;
  }

  .menu .menuitem.dropdown > a:after {
    float: right;
    font-size: 15px;
    font-size: 1.5rem;
  }

  .menu .menuitem > a {
    padding: 12px 40px;
  }

  .menu .menuitem > a:hover,
  .menu .menuitem > a:focus {
    color: #2ecc71;
    text-decoration: none;
  }

  .menu .menuitem .droplist {
    display: none;
  }

  .menu .menuitem .droplist a {
    padding: 12px 40px;
  }

  .podcast-hero {
    height: 80%;
  }

  .podcast-hero .podcast-hero-content {
    top: 45%;
  }

  .podcast-card .podcast-meta .item:last-of-type {
    width: 100%;
  }

  .podcast-card .podcast-meta .item:last-of-type:before {
    display: none;
  }

  .podcast-card.boxed .podcast-title {
    font-size: 21px;
    font-size: 2.1rem;
  }

  .podcast-card.boxed .podcast-excerpt {
    height: 60px;
  }

  .page-header .page-header-inner,
  .page-header-podcast .page-header-inner,
  .page-error .page-header-inner {
    padding-top: 50px;
  }

  .page-header h2,
  .page-header-podcast h2,
  .page-error h2 {
    margin-top: 130px;
  }

  .page-header-podcast h2 {
    font-size: 24px;
    font-size: 2.4rem;
    margin-top: 90px;
  }

  .page-error {
    height: 500px;
  }

  .page-error .page-error-inner {
    padding-top: 50px;
  }

  .page-error h2 {
    margin-top: 0;
  }

  .podcast-player .video-frame {
    width: 100%;
    height: 440px;
  }
}

@media screen and (max-width: 767px) {
  .footer-credits {
    text-align: center;
  }

  .footer-credits .footer-logo {
    margin-bottom: 20px;
  }

  .footer-credits .text-right {
    text-align: center;
  }

  .podcast-hero .podcast-hero-content .podcast-hero-title {
    font-size: 22px;
    font-size: 2.2rem;
  }

  .podcast-card.full .podcast-image {
    position: static;
    width: 100%;
    height: 280px;
  }

  .podcast-card.full .podcast-image a:after {
    bottom: 0;
    top: auto;
    width: 100%;
    height: 70%;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-image: -webkit-linear-gradient(to bottom, transparent, #18151f);
    background-image: -moz-linear-gradient(to bottom, transparent, #18151f);
    background-image: -o-linear-gradient(to bottom, transparent, #18151f);
    background-image: linear-gradient(to bottom, transparent, #18151f);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00ffffff', GradientType=0);
    /* IE6-8 */
  }

  .podcast-card.full .podcast-content {
    width: 100%;
  }

  .podcast-card.boxed .podcast-excerpt {
    height: auto;
  }

  .podcast-player .podcast-player-inner {
    padding: 30px 0;
  }

  .podcast-player .video-frame {
    height: 300px;
  }

  .podcast-meta-element .podcast-meta-item {
    width: 50%;
    height: auto;
    padding: 30px 0;
    display: block;
    float: left;
    border: 1px solid #16131c;
  }

  .page-pagination a.page-pagination-next {
    border-top: 1px solid #dadada;
  }
}

@media screen and (max-width: 610px) {
  .podcast-hero .podcast-hero-content .podcast-hero-meta .item {
    margin-bottom: 5px;
    font-size: 14px;
    font-size: 1.4rem;
  }

  .podcast-player .video-frame {
    height: 240px;
  }
}

@media screen and (max-width: 480px) {
  .page-header h2,
  .page-header-podcast h2,
  .page-error h2 {
    font-size: 34px;
    font-size: 3.4rem;
  }

  .page-header-podcast h2 {
    font-size: 20px;
    font-size: 2rem;
  }

  .podcast-meta-element .podcast-meta-item {
    width: 100%;
  }

  .gallery-item {
    height: 160px;
  }
}
