// Should be the 9th importation
@import "../base/variables";

.footer {
  &-list li {
    padding-bottom: 6px;
    list-style: none;

    & + li {
      padding-top: 6px;
      border-top: 1px solid #222;
    }
  }

  &-list a {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    color: #bdc3c7;

    &:hover, &:focus {
      color: #fff;
    }
  }

  &-complement li {
    padding-bottom: 14px;
    list-style: none;

    & + li {
      padding-top: 14px;
      border-top: 1px solid #222;
    }
  }

  &-complement a {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #bdc3c7;
    font-weight: 700;
    font-size: 15px;
    font-size: 1.5rem;

    &:hover, &:focus {
      color: #2ecc71;
    }
  }

  &-complement span {
    color: #666;
  }


  &-credits {
    background: #0b0a0e;
    padding: 25px 0;
  }

  &-credits h2 {
    margin: 0;
    font-size: 0;
  }
}

.sidebar-widget {
  margin-bottom: 70px;
}
