// Should be the 15th importation
@import "../base/variables";

.map {
  position: relative;

  &.touch:after {
    display: none;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  & iframe {
    width: 100%;
    height: 400px;
  }
}
