// Should be the 16th importation
@import "../base/variables";

.modal {
  &-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  &-header {
    background: #f1f1f1;

    & .close {
      margin-top: 4px;
    }
  }

  &-body {
    color: #444;
  }
}
