// Should be the 8th importation

@import "../base/variables";

.pagination {

  &>li:first-child>a, &>li:first-child>span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &>li:last-child>a, &>li:last-child>span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &>li>a, &>li>span {
    color: #2ecc71;
    background: #24202e;
    border-color: #2d283a;

    &:hover, &:focus {
      color: #2ecc71;
      background: #2d283a;
      border-color: #2d283a;
    }
  }
}
