// Should be the 11th importation
@import "../base/variables";

.podcast-card {
  position: relative;
  background: #18151f;
  *zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  & .podcast-image {
    & a {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;

      &:before {
        content: "\f04b";
        font-family: FontAwesome;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
        width: 50px;
        height: 50px;
        background: #fff;
        color: #2ecc71;
        text-align: center;
        line-height: 51px;
        text-indent: 5px;
        z-index: 5;
        font-size: 22px;
        font-size: 2.2rem;
        border-radius: 100%;
        transition: all 0.2s ease-out;
      }

      &:hover:before,
      &:focus:before {
        background: #2ecc71;
        color: #fff;
      }
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .podcast-content {
    padding: 25px;
    color: #f1f1f1;

    & a {
      color: inherit;
      transition: all 0.1s ease-out;

      &:hover,
      &:focus {
        color: #fff;
      }
    }
  }

  & .podcast-date {
    display: block;
    margin-bottom: 10px;
  }

  & .podcast-title {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  & .podcast-meta .item {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    color: #2ecc71;
    list-style: none;

    & + .item:before {
      content: "//";
      margin: 0 10px 0 5px;
    }
  }


  &.full {
    & .podcast-image {
      position: absolute;
      left: 0;
      top: 0;
      width: 25%;
      height: 100%;
      float: left;

      & a:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 140px;
        height: 100%;
        background-image: linear-gradient(to right, transparent, #18151f);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00ffffff', GradientType=0);
        /* IE6-8 */
        display: block;
      }
    }

    & .podcast-content {
      width: 75%;
      float: right;
    }
  }


  &.boxed {
    & .podcast-image {
      height: 280px;

      & a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70%;
        background-image: linear-gradient(to bottom, transparent, #18151f);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00ffffff', GradientType=0);
        /* IE6-8 */
        display: block;
      }
    }

    & .podcast-excerpt {
      height: 40px;
    }
  }


  &.sidebar {
    & .podcast-image {
      height: 280px;

      & a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70%;
        background-image: linear-gradient(to bottom, transparent, #18151f);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00ffffff', GradientType=0);
        /* IE6-8 */
        display: block;
      }
    }

    & .podcast-title {
      font-size: 18px;
      font-size: 1.8rem;
      margin-bottom: 5px;
    }
  }
}


.podcast-meta-element {
  width: 100%;
  display: table;
  table-layout: fixed;
  background: #1d1925;

  & .podcast-meta-item {
    height: 65px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #f1f1f1;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    & + .podcast-meta-item {
      border-left: 1px solid #16131c;
    }
  }

  & a.podcast-meta-item:hover,
  & a.podcast-meta-item:focus {
    background: #2ecc71;
  }
}


.podcast-links {
  padding: 20px 0;
  background: #17141e;

  & .podcast-links-list {
    margin: 0;

    & li {
      margin: 11px 0;
      list-style: none;
    }
  }

  & .btn {
    width: 65px;
  }

  & .podcast-link-cite {
    margin-left: 10px;
    color: #f1f1f1;
    vertical-align: middle;
  }

  a.podcast-link-cite {
    color: #7ee2a8;

    &:hover, &:focus {
      color: #2ecc71;
    }
  }
}
