// Should the 10th importation
@import "../base/variables";

.podcast-hero {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #110f16;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    display: block;
    background-image: linear-gradient(to top, transparent, #18151f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00ffffff', GradientType=0);
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    display: block;
    background-image: linear-gradient(to bottom, transparent, #110f16);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00ffffff', GradientType=0);
  }

  & &-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #110f16;
    background-color: rgba(17, 15, 22, 0.5);
    zoom: 1;
    background-color: transparent \9
  ;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80110f16, endColorstr=#80110f16)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80110f16, endColorstr=#80110f16);
    z-index: 10;

    & > .container {
      position: relative;
      height: 100%;
    }
  }

  & &-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 15px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 20;

    & a {
      color: inherit;
    }

    & .podcast-hero-date {
      display: block;
      margin-bottom: 10px;
      color: #f1f1f1;
    }

    & .podcast-hero-title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 32px;
      font-size: 3.2rem;
    }

    & .podcast-hero-meta .item {
      display: inline-block;
      vertical-align: middle;
      zoom: 1;
      *display: inline;
      font-size: 16px;
      font-size: 1.6rem;
      list-style: none;
      color: #2ecc71;

      & + .item:before {
        content: "//";
        margin: 0 10px;
      }

      & a:hover, & a:focus {
        color: #fff;
      }
    }
  }

  & &-player-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
  }
}
