// Should be the 13th importation
@import "../base/variables";

.team-card {
  background: #e4e4e4;

  & &-image {
    position: relative;
    width: 100%;
    height: 270px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #110f16;
        background-color: rgba(17, 15, 22, 0.5);
        zoom: 1;
        background-color: transparent \9
      ;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80110f16, endColorstr=#80110f16)";
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80110f16, endColorstr=#80110f16);
        display: block;
      }
    }
  }

  & &-title {
    margin-top: 25px;
    padding: 0 25px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    font-size: 2.2rem;
  }

  & &-job {
    padding: 0 25px;
    text-transform: uppercase;
    font-weight: 700;
  }

  & &-description {
    min-height: 80px;
    margin-bottom: 20px;
    padding: 0 25px;
  }

  & &-social {
    width: 100%;
    display: table;
    table-layout: fixed;

    & .social-item {
      list-style: none;
      display: table-cell;

      & + .social-item {
        border-left: 1px solid #24202e;
      }
    }

    & a {
      display: block;
      padding: 10px 15px;
      background: #282434;
      color: #fff;
      text-align: center;

      &:hover, &:focus {
        background: #24202e;
      }
    }
  }
}
