{% if quote %}
    <section class="section-highlight text-center">
        <div class="container">
            <blockquote>
                <p>{{ quote.en ?: quote.sr }}</p>
                <p>
                    {% if quote.source %}
                       <small>source : {{ quote.source }}</small>
                    {% endif %}
                </p>
                <cite>{{ quote.author }}</cite>
            </blockquote>
        </div>
    </section>
{% endif %}
