<div class="sidebar-widget">
    <h2 class="title-separator">Share this podcast</h2>
    <ul class="social-list colored">
        <li class="social-item facebook">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ base_url() ~ current_path() }}"
               target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li class="social-item twitter">
            <a href="https://twitter.com/home?status={{ base_url() ~ current_path() }}"
               target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li class="social-item google">
            <a href="https://plus.google.com/share?url={{ base_url() ~ current_path() }}"
               target="_blank">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>
    </ul>
</div>
