{% extends '@layouts/main.html.twig' %}

{% block content %}
    {# TODO : background image must be dynamic #}
    <header class="page-header" style="background-image: url('{{ images('console.jpg') }}')">
        <div class="page-header-inner">
            <div class="container">
                <div class="page-header-content text-center">
                    <h2>{{ category.name }}</h2>
                    <p>{{ category.description }}</p>
                </div>
            </div>
        </div>
    </header>
    <main class="main" id="main">
        <section class="section-positive">
            <div class="container">
                <div class="row">
                    {% for index, p in podcasts %}
                        {% include "@frontend/_components/podcast.html.twig" %}
                    {% endfor %}
                    {% include "@frontend/_components/pagination.html.twig" %}
                </div>
            </div>
        </section>
        {% include '@frontend/_includes/quote.html.twig' %}
    </main>
{% endblock %}
