<footer class="footer">
    <section class="footer-credits">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <a href="http://bernard-ng.github.io">bernard-ng</a> - {{ 'now' | date('Y') }}. All rights reserved.
                </div>
            </div>
        </div>
    </section>
</footer>